<html>
  <head>
    <h1>Head</h1>
  </head>
  <body>
    <form>
      <div class="container">
        <!-- <div> 
          <ul>
            <li class="form-control" *ngFor="let task of tasks;" (click)="remove()">{{task}}</li> 
          </ul>
        </div>-->
        
        <div>
          <table>
            <tr><th>To-Do List:</th></tr>
            <tr *ngFor="let task of list;">
              <td class="form-control" (click)="accomplished(task)">{{task}}</td>
            </tr>
          </table>
          <br><br>
          <hr>
          <div>
              <input type="text" class="form-control" placeholder="Add Task here" [(ngModel)]="inputtask" [ngModelOptions]="{standalone: true}" required>
          </div>
        </div>
          <button class="btn btn-success" (click)="add()">Add</button>
          <br><br>
          <hr>
          <table>
            <tr><th>Accomplished:</th></tr>
            <tr *ngFor="let task of done;">
              <td class="form-control" (click)="remove(task)">{{task}}</td>
              <button class="btn btn-success" (click)="readd(task)">Re-Add</button>
            </tr>
          </table>
      </div>
    </form>
  </body>
</html>